{%extends 'base.html'%}
{% load static %}

{% block import %}
    <title>Cadastro</title>
    <link rel="stylesheet" href="{% static 'css/cadastro_login.css' %}">
{% endblock %}


{%block main%}
<main>
    <section>
        <h1 style="color: yellow;">Register</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            
            <div class='form'>
                <p>
                    <label class="cadastro_fix" for="username">Apelido:</label>
                    {{form.username}}
                </p>
                
                <p>
                    <label class="cadastro_fix" for="Matricula">Matricula:</label>
                    {{form.matricula}}
                </p>
                
                <p>
                    <label class="cadastro_fix" for="first_name">Primeiro Nome:</label>
                    {{form.first_name}}
                </p>
                
                <p>
                    <label class="cadastro_fix" for="last_name">Sobrenome:</label>
                    {{form.last_name}}
                </p>
                
                <p>
                    <label class="cadastro_fix" for="phone">Telefone:</label class="cadastro_fix"> 
                    {{form.phone}}
                </p>
                
                
                <p>
                    <label class="cadastro_fix" for="email">Email:</label> 
                    {{form.email}}
                </p>

                <p>
                    <label class="cadastro_fix" for="email">Senha</label> 
                    {{form.password1}}
                    
                    {{form.password1.messages}}
                </p>

                <p>
                    <label class="cadastro_fix" for="email">Confirme a senha</label> 
                    {{form.password2}}
                    {%if form.password2.messages%}
                    {%for message in form.password2.messages%}
                    {{message}}
                    {%endfor%}
                    {%endif%}
                    {{form.password2.messages}}

                </p>
                <div>
                    <p>
                        <label class="cadastro_fix" for="image">Imagem</label> 
                        {{form.image}}
                    </p>
                </div>
                
            </div>

            <div class='cadastra_butao'>
                <button type="submit">Cadastrar-se</button>
            </div>
            
        </form>
    </section>
</main>
{%endblock%}